/* SELECTER BALISE */

footer {
  position: absolute;
  bottom: 0px;
  text-align: center;
  margin-left: auto;
}
form {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin: auto;
}
form input {
  margin-top: 2em;
}
ul > li {
  display: none;
}
/* SELECT CLASS */

.logo {
  display: flex;
  width: 150;
  height: 100px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}
.background {
  z-index: -1;
  opacity: 0.4;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}
@media only screen and (max-width: 500px) {
  .background {
    z-index: -1;
    opacity: 0.4;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height:100vh;
  }
  .logo{
    width: 100px;
    height:70px;
  }
  .menuButton{
    width:150px;
    height: 75px;
    margin-top: 1em;
  }
  .homeMenu{
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-height: 60vh;
    margin-top: 0.5em;
  }
}
/* HOME MENU */
.menuButton {
  width:300px;
  height: 100px;
  margin-top:5em;
  color:white;
  font-size: 24px;   
  background: -webkit-linear-gradient(178deg, rgb(22, 61, 237), rgb(20, 90, 74));
  background: linear-gradient(178deg, rgb(22, 61, 237), rgb(20, 90, 74));

}
.menuButton:hover{
  cursor: pointer;
  color:crimson;
}

.homeMenu{
  
  margin-top:5em;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  

}
.gameSettings {
  background-color: rgba(128, 128, 128, 0.219);
  border-radius: 15px;
  padding: 20px 20px;
  font-weight: 600;
}
.buttonPlay{
    background-color: rgb(1, 53, 24);
    color:white;
    font-size: 20px;
    width: 75px;
    height:37.5px;
}
.buttonPlay:hover{
    background-color: white;
    color : rgb(1, 53, 24);
}
.scoreBoardFinal {
  background-color: rgba(128, 128, 128, 0.329);
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px 20px;
  font-weight: 600;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.correctAnswer {
  display: flex;
  width: 400px;
  height: 75px;
  border-radius: 15px;
  background-color: rgba(207, 35, 35, 0.418);
  color: black;
  justify-content: center;
  align-items: center;
}
.wrongAnswer {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  align-items: center;
  width: 400px;
  height: 75px;
  background-color: rgba(1, 53, 24, 0.4);
  color: black;
}
.score {
  font-size: 25px;
}
.buttonScore{
  background-color: rgba(255, 255, 255, 0.3);
  padding : 20px 20px ;
}
.buttonScore:hover{
  cursor: pointer;
}
.map {
  height: 80vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  /* border: 2px solid black ; */
}
.ol-rotate-reset {
  display: none;
}
.ol-attribution {
  display: none;
}
/* SELECTERS ID's */
#success {
  color: rgb(87, 128, 27);
  background-color: rgba(87, 128, 27, 0.3);
}
#checkAnswer {
  background-color: rgb(1, 53, 24);
  color: white;
  border: none;
  width: 75px;
  height:37.5px;
  align-items: center;
  justify-content: center;
  display: none;
  position: relative;
  right: 0;
  bottom: 0;
}

/* CREDIT SECTION */
.credits{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flag {
  position: relative;
  height: 30vh;
  width: 50vh;
  
  background-color: rgba(128, 128, 128, 0.329);
  
  border: 3px solid RGB(33,30,184);
  
  -webkit-box-shadow: 0 0 2px 2px rgba(20,20,20,.1);
}

.flagwave {
  position: absolute;
  
  top: -3px;
  left: -3px;
  
  width: 50vh;
  height: 30vh;
  
  z-index: 2;

  background-image: 
      
      -webkit-gradient(
          linear, 
          0% 30%, 
          50% top, 
          color-stop(0%,rgba(33, 30, 184, 0)), 
          color-stop(40%,rgba(33, 30, 184,0)), 
          color-stop(90%,rgba(33, 30, 184,.3)), 
          color-stop(100%,rgba(33, 30, 184,0))),
      
      -webkit-gradient(
          linear, 
          50% 30%, 
          100% top, 
          color-stop(0%,rgba(33, 30, 184, 0)), 
          color-stop(40%,rgba(33, 30, 184,0)), 
          color-stop(90%,rgba(33, 30, 184,.3)), 
          color-stop(100%,rgba(33, 30, 184,0)),
          color-stop(100%,rgba(33,30,184,0)));
  
  background-size: 200%;
  background-position: right;
  
  -webkit-animation-name: flagwave;
  -webkit-animation-duration: 15s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

  @-webkit-keyframes flagwave {
  
      0% {
          background-position: -400px 0px, -400px 0px, -400px 0px,-400px 0px;
      }
  
      100% {
          background-position: 800px 0px, 800px 0px, 800px 0px, 800px 0px;
      }
  }

  div.flagtxt {
      position: relative;
      display: block;
      width: 100%;
      text-align: center;
      color: #fff;
      
      font-size: 1em;
      line-height: 1.9em;
  }
  
 